@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

body {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

h1 {
    margin-top: 25px;
}

table {
    margin: 25px auto;
    border-collapse: collapse;
    border-style: hidden;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 56px;
}

.result {
    font-size: 36px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}
